#my-game {
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    border: 1px solid black;
}
body {
    text-align: center;
    background-image: url("assets/background.jpg");
    color:whitesmoke;

}
#header{
    font-family: 'Press Start 2P', cursive;
    background-color: rgba(255, 0, 0, 0.4);
}